<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reactive timesheets</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/moment.min.js"></script>
    <link rel="stylesheet" href="./css/bulma/bulma.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>
<section class="hero is-dark is-small">
    <div class="hero-head">

    </div>

    <div class="hero-body">
        <div class="container">
            <p class="title">
                timeshizz
            </p>
            <p class="subtitle">
                reactive timesheets
            </p>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a>dashboard</a>
                    </li>
                    <li>
                        <a href="/track.html">record activities</a>
                    </li>
                    <li>
                        <a>create report</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

<section class="section" id="dashboard">
    <div class="container">
        <div class="columns">
            <div class="column">
                <article class="message">
                    <div class="message-header">
                        recent task activities
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <div v-for="tasks in recentTasks">
                                <div v-for="task in tasks">
                                    {{task.name}}<br>
                                </div>
                            </div>
                            </ul>

                        </div>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-info">
                    <div class="message-header">
                        recent active clients
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <div v-for="client in recentClients">
                                {{client.name}}<br>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-info">
                    <div class="message-header">
                        recent active projects
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <div v-for="projects in recentProjects">

                                <div v-for="project in projects">
                                    {{project.name}}<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-info">
                    <div class="message-header">
                        last week
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <p>You need at least <strong>3 levels</strong> of hierarchy:</p>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column">
                <article class="message is-info">
                    <div class="message-header">
                        last month
                    </div>
                    <div class="message-body">
                        <div class="content">
                            <p>You need at least <strong>3 levels</strong> of hierarchy:</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>


<script src="js/index.js"></script>
</body>