<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="robo">
    <title>reactive timesheets</title>
    <!--<script src="js/3rd-party/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/vue/1.0.28/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>
<section class="hero is-dark is-small">
    <div class="hero-head">

    </div>

    <div class="hero-body">
        <div class="container">
            <p class="title">
                timeshizz
            </p>
            <p class="subtitle">
                reactive timesheets by <a href="http://github.com/bitrecycling">bitrecycling</a>
            </p>
        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li class="is-active">
                        <a href="/">dashboard</a>
                    </li>
                    <li>
                        <a href="/track.html">track activities</a>
                    </li>
                    <li>
                        <a href="/report.html">create report</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<section class="section" id="dashboard">
    <div class="container">
        <div class="tile is-ancestor">
            <!-- recent activities -->
            <div class="tile is-parent is-6">
                <div class="tile is-child">
                    <article class="message is-info">
                        <div class="message-header">
                            most recent activities <input type="number" placeholder="20" size="3" v-model="activityCount" v-on:change="getMostRecent()" />  
                        </div>
                        <div class="message-body">
                            <div class="content">
                                <table>
                                    <thead class="bold">
                                    <tr>
                                        <th>date</th>
                                        <th>minutes</th>
                                        <th>activity</th>
                                        <th>project</th>
                                        <th>client</th>
                                    </tr>
                                        
                                    </thead>
                                    <tr v-for="activityEntry in recent" class="content" v-on:click="track(activityEntry)">
                                        <td>{{prettyPrintTime(activityEntry.startTime)}}</td> 
                                        <td>{{activityEntry.durationMinutes}}</td> 
                                        <td>{{activityEntry.activity.name}}</td> 
                                        <td>{{activityEntry.activity.project.name}}</td> 
                                        <td>{{activityEntry.activity.project.client.name}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <!-- END recent activities -->
            
            <!-- Clients --> 
            <div class="tile is-6 is-parent">
                <div class="tile is-child">
                    <article class="message is-info">
                        <div class="message-header">
                            Clients and Projects
                        </div>
                        <div class="message-body">
                            <div class="content">
                                <div v-for="client in clients" class="content">
                                    <table>
                                        <thead class="bold">
                                        <tr>
                                            <th>{{client.name}}</th>
                                        </tr>

                                        </thead>
                                        <tr v-for="project in client.projects" class="content">
                                            <td><a href="track.html?client={{client.id}}&project={{project.id}}"
                                                   class="" style="text-decoration: none;">{{project.name}}</a></td>
                                        </tr>
                                    </table>
<!--                                    <strong><a href="track.html?client={{client.id}}"-->
<!--                                               class="" style="text-decoration: none;">{{client.name}}</a></strong><br>-->
<!--                                    <div v-for="project in client.projects" class="box">-->
<!--                                        <strong><a href="track.html?client={{client.id}}&project={{project.id}}"-->
<!--                                                   class="" style="text-decoration: none;">{{project.name}}</a></strong>-->
<!--                                    </div>-->

                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="js/index.js"></script>
</body>