<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="robo">
    <title>reactive timesheets</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/3rd-party/axios.min.js"></script>
    <script src="js/3rd-party/moment.min.js"></script>
    <link rel="stylesheet" href="./css/bulma/bulma.min.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>
<section class="hero is-dark is-small">
    <div class="hero-head">

    </div>

    <div class="hero-body">
        <div class="container">
            <p class="title">
                timeshizz
            </p>
            <p class="subtitle">
                reactive timesheets by <a href="http://github.com/bitrecycling">bitrecycling</a>
            </p>

        </div>
    </div>

    <div class="hero-foot">
        <nav class="tabs is-boxed">
            <div class="container">
                <ul>
                    <li>
                        <a href="/">dashboard</a>
                    </li>
                    <li>
                        <a href="/track.html">track activities</a>
                    </li>
                    <li class="is-active">
                        <a>create report</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>
<br>

<section>
    <div id="timeshizz">
        <h1 class="heading subtitle is-3 has-text-centered">Report for {{client.name}}</h1>
        <hr>

        <!-- status: client and project -->
        <section class="container">
            <div class="content">
                <h2 class="title is-5">{{client.name}}</h2>
                <h3 class="subtitle is-6">{{client.address}}</h3>
                <h1 class="title"><br>&nbsp;<br></h1>
            </div>
        </section>
        <section v-for="project in projects[client.id]" class="container">
            <div class="content">
                <h1 class="title is-4">Project "{{project.name}}"</h1>
                <hr>
                Timesheet from {{start()}} to {{end()}}
                <table class="table">
                    <thead>
                    <tr>
                        <th>activity</th>
                        <th>time spent</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="task in tasks[project.id]" v-if="taskEntries[task.id]">
                        <td>{{task.name}}</td>
                        <td>{{sumTaskEntriesForTask(task.id)}}</td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th>total time spent</th>
                        <th>{{sumTasksForProject(project.id)}}</th>
                    </tr>
                    <tr>
                        <th>rate</th>
                        <th>{{project.rate}} €</th>
                    </tr>
                    <tr>
                        <th>subtotal</th>
                        <th>{{subtotal(project)}},00 €</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </section>
        <section class="container">
            <div class="content">
                <div class="title is-4">Grand Total: {{total()}}</div>
            </div>
        </section>

        <!-- / status -->

    </div>
</section>


<!--// </script>-->
<script src="js/report.js"></script>
</body>

</html>