<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reactive timesheets</title>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/moment.min.js"></script>
    <link rel="stylesheet" href="./css/bulma/bulma.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>
<body>


<section class="hero is-dark is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                timeshizz
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <!--<h1 class="title">track times and projects</h1>-->
        <h2 class="subtitle">
            record project activities
        </h2>
    </div>
</section>
<section class="container">

    <div id="timeshizz">
        <!-- status: client and project -->
        <div class="columns">
            <div class="column is-half">
                <div class="tags has-addons">
                    <div class="tags has-addons">
                        <div v-if="showEditClient" class="tag is-medium is-info">edit client</div>
                        <div v-if="selectedClient" class="tag is-medium is-dark"
                             v-on:click="showEditClient = !showEditClient">
                            {{selectedClient.name}}
                        </div>
                        <div v-if="selectedClient && !showEditClient" v-on:click="clearClient()"
                             class="tag is-medium is-delete">

                        </div>
                        <div v-if="!showCreateClient && !selectedClient" class="tag is-medium is-info">select client
                        </div>
                        <div v-if="showCreateClient" class="tag is-medium is-info">create client</div>
                        <div v-if="!selectedClient" class="tag is-medium">
                            <a v-on:click="showCreateClient = !showCreateClient">
                                <div class="is-size-5 has-text-weight-bold">+</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tag is-white">
                    {{selectedClient.address}}
                </div>
            </div>

            <div class="column is-half" v-if="selectedClient && !showEditClient">
                <div class="tags has-addons">
                    <div v-if="!selectedProject && selectedClient && !showCreateProject" class="tag is-medium is-info">
                        select project
                    </div>
                    <div v-if="showCreateProject && !selectedProject" class="tag is-medium is-info">
                        create project
                    </div>
                    <div v-if="selectedProject" class="tag is-medium is-dark"
                         v-on:click="showEditProject = !showEditProject">
                        {{selectedProject.name}}
                    </div>
                    <div v-if="selectedProject" class="tag is-medium is-light is-delete"
                         v-on:click="clearProject()"></div>
                    <div v-if="!selectedProject && selectedClient" class="tag is-medium">
                        <a v-on:click="showCreateProject = !showCreateProject   ">
                            <div class="is-size-5 has-text-weight-bold">+</div>
                        </a>
                    </div>
                </div>
                <div v-if="selectedClient" class="tag is-white">
                    {{selectedProject.description}}
                </div>
            </div>
        </div>

        <!-- /status -->

        <!-- client and project selection -->


        <div class="columns">

            <!-- client list -->
            <div v-if="!selectedClient && !showEditClient && !showCreateClient" class="column is-half">
                <div class="column box" v-for="client in clients" v-on:click="clientSelected(client)">
                    {{client.name}}
                    <p class="is-size-7">{{client.address}}</p>
                </div>
            </div>
            <!-- / client list -->

            <!-- create client form -->

            <div v-if="showCreateClient && !showEditClient" class="column is-half">
                <div class="box">
                    <label class="label">client name</label>
                    <input class="input is-small" v-model="clientName" type="text" rows="1">
                    <label class="label">client address</label>
                    <textarea class="textarea is-small" v-model="clientAddress" rows="4"></textarea>
                    <br>
                    <div v-if="showCreateClient" class="tags has-addons">
                        <div class="tag is-medium is-success"
                             v-on:click="showCreateClient = !showCreateClient;createClient()">
                            create
                        </div>
                        <div class="tag is-medium" v-on:click="showCreateClient = !showCreateClient">
                            cancel
                        </div>
                    </div>
                </div>
            </div>
            <!-- / create client form -->

            <!-- edit client form -->
            <div v-if="showEditClient && !showCreateClient" class="column is-half">
                <div class="box">
                    <label class="label">client name</label>
                    <input class="input is-small" v-model="selectedClient.name" type="text" rows="1">
                    <label class="label">client address</label>
                    <textarea class="textarea is-small" v-model="selectedClient.address" rows="4"></textarea>
                    <br>
                    <div class="field is-grouped">
                        <div class="control">
                            <div v-if="showEditClient" class="tags has-addons">

                                <div class="tag is-medium is-success"
                                     v-on:click="showEditClient = !showEditClient;saveClient()">
                                    save
                                </div>
                                <div class="tag is-medium" v-on:click="showEditClient = !showEditClient">
                                    cancel
                                </div>
                            </div>
                        </div>
                        <div class="control">
                            <div class="tag is-medium is-danger">delete</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- / edit client form -->

            <!-- project list -->
            <div v-if="selectedClient && !selectedProject && !showCreateProject && !showEditClient"
                 class="column is-half is-offset-half">
                <div class="column box" v-for="project in projects" v-on:click="projectSelected(project)">
                    {{project.name}}
                    <p class="is-size-7">{{project.description}}</p>
                    <p class="is-size-7">rate: {{project.rate}}</p>
                </div>
            </div>
            <!-- / project list -->

            <!-- create project form -->
            <div v-if="showCreateProject && !selectedProject" class="column is-half is-offset-half">
                <div class="box">
                    <label class="label">project name</label>
                    <input class="input is-small" v-model="projectName" type="text">
                    <label class="label">project description</label>
                    <textarea class="textarea is-small" v-model="projectDescription" rows="4"></textarea>
                    <label class="label">rate</label>
                    <input class="input is-small" v-model="projectRate" type="number">
                    <br>
                    <div v-if="showCreateProject" class="tags has-addons">

                        <div class="tag is-medium is-success"
                             v-on:click="showCreateProject = !showCreateProject;createProject()">
                            create
                        </div>
                        <div class="tag is-medium" v-on:click="showCreateProject = !showCreateProject">
                            cancel
                        </div>
                    </div>
                </div>
            </div>
            <!-- / create project form -->

            <!-- edit project form -->
            <div v-if="showEditProject" class="column is-half is-offset-half">
                <div class="box">
                    <label class="label">project name</label>
                    <input class="input is-small" v-model="selectedProject.name" type="text">
                    <label class="label">project description</label>
                    <textarea class="textarea is-small" v-model="selectedProject.description" rows="4"></textarea>
                    <label class="label">rate</label>
                    <input class="input is-small" v-model="selectedProject.rate" type="number">
                    <br>
                    <div v-if="showEditProject" class="tags has-addons">
                        <div class="tag is-medium is-success"
                             v-on:click="showEditProject = !showEditProject;saveProject()">
                            save
                        </div>
                        <div class="tag is-medium" v-on:click="showEditProject = !showEditProject">
                            cancel
                        </div>
                    </div>
                    <div class="tag is-danger is-medium">delete</div>
                </div>
            </div>
            <!-- / edit project form -->

        </div>
        <!-- / client and project selection -->

        <!-- tasks and task entries -->
        <div class="columns">
            <div v-if="selectedProject" class="column is-half">
                <div class="tags has-addons">
                    <div v-if="!showCreateTask && !selectedTask" class="tag is-medium is-info">
                        select task
                    </div>
                    <div v-if="selectedTask" class="tag is-medium is-dark">
                        {{selectedTask.name}}
                    </div>
                    <div v-if="selectedTask" class="tag is-medium is-delete" v-on:click="clearTask()">
                    </div>
                    <div v-if="showCreateTask" class="tag is-medium is-info">
                        create task
                    </div>
                    <div v-if="!selectedTask" class="tag is-medium">
                        <a v-on:click="showCreateTask = !showCreateTask">
                            <div class="is-size-5 has-text-weight-bold">+</div>
                        </a>
                    </div>
                </div>
                <div v-if="showCreateTask" class="tags has-addons">
                    <input class="input" v-model="taskName" type="text">

                    <div class="tag is-medium is-success"
                         v-on:click="showCreateTask = !showCreateTask;createTask()">
                        create
                    </div>
                    <div class="tag is-medium" v-on:click="showCreateTask = !showCreateTask">
                        cancel
                    </div>
                </div>
            </div>

            <div v-if="selectedTask" class="column is-half">
                <div v-if="!showCreateTaskEntry" class="tags has-addons">
                    <div class="tag is-medium">
                        task entry
                    </div>
                    <div v-if="!selectedTask" class="tag is-medium is-info">
                        select task entry
                    </div>
                    <div class="tag is-medium">
                        <a v-on:click="showCreateTaskEntry = !showCreateTaskEntry">
                            <div class="is-size-5 has-text-weight-bold">+</div>
                        </a>
                    </div>
                </div>
                <div v-if="showCreateTaskEntry" class="tags has-addons">
                    <div class="tag is-medium is-success"
                         v-on:click="showCreateTaskEntry = !showCreateTaskEntry;createTaskEntry()">
                        create
                    </div>
                    <div class="tag is-medium" v-on:click="showCreateTaskEntry = !showCreateTaskEntry">
                        cancel
                    </div>
                </div>
            </div>

        </div>
        <div class="columns">
            <!-- task list -->
            <div v-if="selectedProject && !selectedTask" class="column is-half">
                <div v-for="task in tasks" class="column">
                    <div v-on:click="taskSelected(task)" class="box">{{task.name}}</div>
                </div>
            </div>
        </div>
        <!-- / task list -->


        <div v-if="selectedTask" class="column is-half box">
            <!-- task entry list -->
            <div class="column">
                <table class="table">
                    <thead>
                    <th>start date & time</th>
                    <th>duration</th>
                    </thead>
                    <tbody>
                    <tr v-if="showCreateTaskEntry">
                        <td><input v-model="taskEntryStartTime" class="input" type="text"></td>
                        <td><input v-model="taskEntryDurationMinutes" class="input" type="number"></td>
                    </tr>
                    <tr v-for="taskEntry in taskEntries">
                        <td>{{formatTime(taskEntry.startTime)}}</td>
                        <td>{{taskEntry.durationMinutes}} minutes</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- / task entry list -->
        </div>
    </div>
</section>


<!--// </script>-->
<script src="js/track.js"></script>
</body>

</html>